extends layout

block content
 div(class = "container")
  div(class="image")
    img(src="https://via.placeholder.com/150", alt="Profile Image")
  div(class= "details")
    h1= name
    h3= username
    h3= email
    h3= phone
    h3= useraddress
    h3= website
    h3= company.name
